/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #3e4bd5, #338ccc);
    animation: gradientAnimation 10s infinite alternate;
}

@keyframes gradientAnimation {
    0% { background: linear-gradient(to bottom right, #3e4bd5, #338ccc); }
    100% { background: linear-gradient(to bottom right, #3e4bd5, #338ccc); }
}


@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
}

header nav {
    text-align: center; /* Center align the navigation */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex; /* Display menu items inline */
    justify-content: center; /* Center align horizontally */
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f3ec78;
}

header .search-form {
    display: flex;
    align-items: center;
}

header .search-form input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

header .search-form button {
    background-color: #555;
    color: white;
    border: none;
    padding: 6px 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

header .search-form button:hover {
    background-color: #777;
}

.welcome {
    padding: 20px;
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    animation: slideIn 1s ease-out;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    animation: fadeIn 2s;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
